<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>-SEXE-CHATS-</title>


    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" media="only screen and (max-width:500px)" href=".css/style.mobile.css">
    <link href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/97bb762bba.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9ba95a5a20.js" crossorigin="anonymous"></script>
    
   
</head>




<body>


          
            </h2>
            
       
    </div>




    <header class="header">

        
        <nav>


 
            <h1> <header>
                
                <i class="fa-brands fa-sketch"></i>

                <a href="./index.html"> -Sexe-Chats-pour-Adult- </a>
            </h1>



            <ul>
                <li><a class="active" href="./index.html"> Acceuil</a></li>
                <li><a href="./salle01.html"><i class="fa-solid fa-venus-mars"></i> Salle #1 </a></li>
                <li><a href="./salle02.html"><i class="fa-solid fa-mars-double"></i> Salle #2 </a></li>
                <li><a href="./salle03.html"><i class="fa-solid fa-venus-double"></i> Salle #3 </a></li>
            </ul>



            <h2> Osée | partager  vos desire les plus Fous </h2>




            <p>
              <!-- <strong>  Un site de salle de Discussion libre de parler entre adulets de tous vos désire <br> pour des rencontre bien Osée ,)</strong> -->
            </p>


        </nav>


    </header>


    <section class="vp">




        <div class="vp-content">
            <h1><strong> <em> Venez vivre des rencontre unique</em></strong> </h1>
            <div class="separator"></div>


            
                <!-- <strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur -->
                <!-- nemo cupiditate earum eum porro unde sint ducimus vero voluptas, -->
                <!-- perferendis quasi quia accusamus omnis rerum. Neque sapiente quidem -->
                <!-- distinctio dolorem?</strong> -->
            </p>

           
                
            <!-- <a href="./salle_01.html" class="btn btn-primary my-10">SALLE DE discussion_01</a>  -->
           
        </div>

       
    
        

    </section>

      

    <section class="features">
        <div class="container">
            <div class="feature">
 
       
                
                <i class="fa-solid fa-hand-holding-heart fa-3x my-10"></i>
                
                <h2> rencontre assurer </h2>

                
                <!-- <p> -->
                   <!-- <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, -->
                    <!-- architecto! Vitae animi dolor sit, saepe cum iusto repellat quis -->
                    suscipit.</strong>
                </p>
            </div>
            <div class="feature">
                <i class="fas fa-clock fa-3x my-10"></i>
                <i class="fa-solid fa-people-group fa-3x my-10"></i>
                
                <h2>membre en linge 24h/24 7j/7</h2>
                <p>
                   <!-- <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. -->
                    <!-- Consequuntur, et dolore sint iure fuga quidem atque odit at debitis -->
                    <!-- provident!</strong> -->
                </p>
            </div>
        </div>
    </section>


<div class="person"></div> 
    
    <section class="reservation">
<div class="container">

    <h2><strong>venez discuter dans une de nos salle ;)</strong></h2>

    <p>
        <!-- <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut similique -->
        <!-- soluta voluptates, placeat iure neque dolores vel? Facere perspiciatis -->
        <!-- vel quasi, deleniti inventore obcaecati animi harum totam. Hic, nisi -->
        <!-- cumque.</strong> -->
    </p>


    <a href="./salle_01.html" class="btn btn-dark my-20"><i class="fa-solid fa-venus-mars"></i> HÉTÉRO_01</a>
    <i class="fa-brands fa-rocketchat"></i>
    <a href="./salle_02.html" class="btn btn-dark my-20"><i class="fa-solid fa-mars-double"></i> GAY_02</a>
    <i class="fa-brands fa-rocketchat"></i>
    <a href="./salle_03.html" class="btn btn-dark my-20"><i class="fa-solid fa-venus-double"> </i> LESBIENNE_03</a>
    <i class="fa-brands fa-rocketchat"></i>


</div>


<!-- <h2><em> Osée | dire vos plus grand fantasme</em> </h2> -->


<p>
    <strong><em> Des salle de Discussion libre  pour des rencontre bien Osée </em></strong>
</p>


</nav>


</header>




</body>

</html>
<title>Vue</title>

<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

    <div class="container" id="chat">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="height: 500px; overflow: auto" id="chat-content">
                    <div class="panel-body">
                        <div v-for="m in messages">

                            <div style="margin-bottom: 10px">
                                <span class="small" style="display: inline-block;">{{ m.tm }}</span>
                                <span v-bind:style="{ color: m.color }">{{ m.name }}</span>
                                <span v-html="m.msg"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Enter your message:</strong><br>
                        <input type="text" class="form-control" style="margin-bottom: 10px"
                            placeholder="Enter your message..." v-model="msg" v-on:keyup.enter="send">
                        <button class="btn btn-primary btn" v-on:click="send">
                            Send Message
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-danger btn" v-on:click="quit">
                            Quit
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script>
        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }

            return color;
            
            
        
   
        }
          
        const initialMsg = `
       
      <h1> <strong> Bienvenue! </strong> </h1>
      bonjours a tous nos membres cette salle de discussion est fait pour nous dire quelle salle de discussion vous aimeriez que ou ouvre pour vous amusez , vous en toute securiter:
      <ul>
        <li>Topic #1 - dite nous vos idée</li>
        <li>Topic #2 - quelle salle aimeriez vous ce voir rajouter</li>
        <li>Topic #3 - etvous pouvez nous laissez votre amour pour notre site ;)</li>
      
      </ul>
      <p> <strong>  Merci de toute la TEAM </strong> <br>24/24</b></p>
    `;

        const app = new Vue({
            el: '#chat',
            data: {
                name: ' Mr_Tattoo_You',
                name: ' sandra',
                name: ' love_69',



                msg: '',
                color: getRandomColor(),
                messages: [
                    { name: '[System Bot]', msg: initialMsg, tm: (new Date()).toLocaleTimeString() },
                ],
                participants: [
                    { name: 'Mr_tattoo_you', class: 'label label-success' },
                    { name: 'Mr_tattoo_you', class: 'label label-success' },
                ]
            },
            methods: {
                send() {
                    if (this.msg.length > 0) {
                        this.messages.push({ name: this.name, msg: this.msg, tm: (new Date()).toLocaleTimeString(), color: this.color })
                        this.msg = '';
                        this.scrollBottom();
                    }
                },
                quit() {
                    if (confirm('Are you sure you want to quit?')) {
                        window.close();
                    }
                },
                scrollBottom() {
                    Vue.nextTick(function () {
                        var div = document.getElementById("chat-content");
                        div.scrollTop = div.scrollHeight;
                    });
                }
            }
        });
    </script>
<div>
    <section class="contact bg-dark">
        <h2 class="title">Pour nous <strong>contacter</strong></h2>
      
        <form name="contact" method="POST" data-netlify="true">
            <p>
              <label>Your Name: <input type="text" name="name" /></label>
            </p>
            <p>
              <label>Your Email: <input type="email" name="email" /></label>
            </p>
            <p>
              <label>Your Role: <select name="role[]" multiple>
                <option value="leader">commentaire</option>
                 <option value="follower">sugestion</option> 
              </select></label>
            </p>
            <p>
              <label>Message: <textarea name="message"></textarea></label>
            </p>
            <p>
              <button type="submit">Send</button>
            </p>
          </form>
     
</div>
<footer>
    <p>Copyright &#9400;- rencontre - salle - de discussion - LIBRE - POUR - ADULT - H-F-G-T-L- 2022</p>
  </footer>



</body>

</html>